

/* Assigning each list item a specific font family */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.amatic-sc {
    font-family: 'Amatic SC', cursive;
}

.permanent-marker {
    font-family: 'Permanent Marker', cursive;
}

.patrick-hand {
    font-family: 'Patrick Hand', cursive;
}

.jura {
    font-family: 'Jura', sans-serif;
}

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

.grenze-gotisch {
    font-family: 'Grenze Gotisch', serif;
}

.fredoka-one {
    font-family: 'Fredoka One', cursive;
}

.fondamento {
    font-family: 'Fondamento', serif;
}

.deja-vu-mono {
    font-family: 'DejaVu Sans Mono', monospace;
}

.creepster {
    font-family: 'Creepster', cursive;
}

.kalam {
    font-family: 'Kalam', cursive;
}

.luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

.titillium-web {
    font-family: 'Titillium Web', sans-serif;
}

.special-elite {
    font-family: 'Special Elite', cursive;
}

.sarpanch {
    font-family: 'Sarpanch', sans-serif;
}

.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.gotham {
    font-family: 'Gotham', sans-serif;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

.bodoni-moda {
    font-family: 'Bodoni Moda', serif;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.cinzel-decorative {
    font-family: 'Cinzel Decorative', serif;
}
